.add-to-virtual-pantry .sous {
  margin: 6.5px 10px 18.5px 0;
  display: inline-block;
  width: 228px;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 80px;
  letter-spacing: -0.2px;
  line-height: 0.25;
  color: #FFFFFF;
}
.add-to-virtual-pantry .generator {
  margin-right: 10px;
  width: 163px;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 25px;
  text-decoration-line: underline;
  letter-spacing: -0.2px;
  line-height: 0.8;
  color: #FFFFFF;
}
.add-to-virtual-pantry .recipe {
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 25px;
  text-decoration-line: underline;
  letter-spacing: -0.2px;
  line-height: 0.8;
  color: #FFFFFF;
}
.add-to-virtual-pantry .virtual-pantries {
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 25px;
  text-decoration-line: underline;
  letter-spacing: -0.2px;
  line-height: 0.8;
  color: #FFFFFF;
}
.add-to-virtual-pantry .container-2 {
  margin: 13.5px 0 11.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 535.5px;
  height: fit-content;
  box-sizing: border-box;
}
.add-to-virtual-pantry .icon {
  width: 41.7px;
  height: 45px;
}
.add-to-virtual-pantry .account-circle {
  margin-right: 34.7px;
  display: flex;
  width: 50px;
  height: 54px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .icon-1 {
  width: 34.8px;
  height: 29.6px;
}
.add-to-virtual-pantry .heart {
  margin: 10.4px 0 5px 0;
  display: flex;
  width: 40px;
  height: 39px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .container-1 {
  display: flex;
  flex-direction: row;
  width: 111.3px;
  height: fit-content;
  box-sizing: border-box;
}
.add-to-virtual-pantry .header {
  background: rgba(50, 185, 2, 0.63);
  position: relative;
  margin-bottom: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32.5px 56.6px 30.5px 10px;
  width: 1247px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .button-3 {
  overflow-wrap: break-word;
  font-family: var(--single-line-body-base-font-family, 'Inter');
  font-weight: var(--single-line-body-base-font-weight, 400);
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 1);
  color: #F5F5F5;
}
.add-to-virtual-pantry .button-1 {
  border-radius: 8px;
  border: 1px solid #2C2C2C;
  background: rgba(59, 87, 231, 0.85);
  display: flex;
  padding: 11px 18.9px 11px 18px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .add-to-virtual-pantry-1 {
  margin-top: 20px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -0.2px;
  line-height: 0.4;
  color: #000000;
}
.add-to-virtual-pantry .container {
  margin: 0 60px 63px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 781.1px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .name-of-product {
  border: 1px solid #000000;
  margin: 5px 8px 19px 0;
  display: inline-block;
  width: 182px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 1;
  color: #000000;
}
.add-to-virtual-pantry .value {
  overflow-wrap: break-word;
  font-family: var(--single-line-body-base-font-family, 'Inter');
  font-weight: var(--single-line-body-base-font-weight, 400);
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 1);
  color: #1E1E1E;
}
.add-to-virtual-pantry .input {
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  padding: 11.5px 15.5px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .input-field {
  width: 331px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .container-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #F5F5F5;
  position: relative;
  margin: 0 0 49px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 24px 18px 33px;
  width: 792px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .count {
  border: 1px solid #000000;
  margin: 17px 8px 7px 0;
  display: inline-block;
  width: 182px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 1;
  color: #000000;
}
.add-to-virtual-pantry .value-1 {
  overflow-wrap: break-word;
  font-family: var(--single-line-body-base-font-family, 'Inter');
  font-weight: var(--single-line-body-base-font-weight, 400);
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 1);
  color: #1E1E1E;
}
.add-to-virtual-pantry .input-1 {
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  padding: 11.5px 15.5px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .input-field-1 {
  width: 331px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #F5F5F5;
  position: relative;
  margin: 0 0 74px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 29px 23px 24px;
  width: 792px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .expiration-data {
  border: 1px solid #000000;
  margin: 11px 8px 13px 0;
  display: inline-block;
  width: 182px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 1;
  color: #000000;
}
.add-to-virtual-pantry .month {
  margin-right: 13.8px;
  overflow-wrap: break-word;
  font-family: var(--body-regular-font-family, 'SF Pro', 'Roboto Condensed');
  font-weight: var(--body-regular-font-weight, 400);
  font-size: var(--body-regular-font-size, 17px);
  letter-spacing: var(--body-regular-letter-spacing, -0.4px);
  line-height: var(--body-regular-line-height, 1.294);
  color: #007AFF;
}
.add-to-virtual-pantry .year {
  overflow-wrap: break-word;
  font-family: var(--body-regular-font-family, 'SF Pro', 'Roboto Condensed');
  font-weight: var(--body-regular-font-weight, 400);
  font-size: var(--body-regular-font-size, 17px);
  letter-spacing: var(--body-regular-letter-spacing, -0.4px);
  line-height: var(--body-regular-line-height, 1.294);
  color: #007AFF;
}
.add-to-virtual-pantry .date {
  border-radius: 6px;
  background: rgba(120, 120, 128, 0.12);
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  padding: 6px 15.4px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .date-and-time-compact-collapsed {
  border-radius: 6px;
  position: relative;
  width: 112px;
  height: 37px;
}
.add-to-virtual-pantry .input-field-2 {
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
  padding: 3.5px 6px 2.5px 6px;
  width: 331px;
  height: 70px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: #F5F5F5;
  position: relative;
  margin: 0 0 65px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 29px 22px 28px;
  width: 792px;
  box-sizing: border-box;
}
.add-to-virtual-pantry .button-2 {
  overflow-wrap: break-word;
  font-family: var(--single-line-body-base-font-family, 'Inter');
  font-weight: var(--single-line-body-base-font-weight, 400);
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 1);
  color: #F5F5F5;
}
.add-to-virtual-pantry .button {
  border-radius: 8px;
  border: 1px solid #2C2C2C;
  background: #2C2C2C;
  display: flex;
  padding: 11px 11.5px 11px 11px;
  box-sizing: border-box;
}
.add-to-virtual-pantry {
  background: #FFFAE7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 79px;
  width: 1247px;
  box-sizing: border-box;
}
